<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>375925321128-1pm2i3eih2mr86fcq2b7iu4crrp32lmi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.375925321128-1pm2i3eih2mr86fcq2b7iu4crrp32lmi</string>
	<key>API_KEY</key>
	<string>AIzaSyCGqebRw5Klmq1YXHAkp6fF07KodJJ_SeI</string>
	<key>GCM_SENDER_ID</key>
	<string>375925321128</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>personal.mdogus.BrailleApp</string>
	<key>PROJECT_ID</key>
	<string>brailleapp-cf687</string>
	<key>STORAGE_BUCKET</key>
	<string>brailleapp-cf687.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:375925321128:ios:58f4921db6a5f1d877c19d</string>
	<key>DATABASE_URL</key>
	<string>https://brailleapp-cf687.firebaseio.com</string>
</dict>
</plist>